{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static "style.css" %}">
        <title>principal</title>
    </head>

    <body>
        <h2>
           ServFaz
        </h2>

        <a href="{% url "pg_criar_cliente" %}">
            <button>+</button>
        </a>
        
        <div class="div_botoes">
            <a href="{% url "pg_criar_cliente" %}">
                <button>Cliente</button>
            </a>

            <a href="{% url "pg_criar_empresa" %}">
                <button>Empresa</button>
            </a>

            <a href="pg_criar_vaga">
                <button>Vaga</button>
            </a>
        </div>
        
    </body>
</html>