{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
</head>
<body>
    <a href="{% url 'pagina_inicial' %}">Home</a>

    <p>
       Lista de Automoveis:
    </p>
   
    <ul>
        {% for produto in produtos %}
        <div>
            <img src="{{produto.imagem.url}}" height=130 width="auto">
            {{ produto.modelo}} - R${{ produto.valor}}
        </div>
        {% endfor %}
    </ul>

</body>
</html>