{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <title>Document</title>
</head>
<body>
    <p>
        Esta é a página de Cadastro
    </p>

    <a href="{% url 'pagina_inicial' %}">Página inicial</a>
    <ul>
        {% for cadastro in cadastros %}
            <li>{{cadastro.nome}} - {{cadastro.email}} - {{cadastro.Nascimento}}</li>
        {% endfor %}
    </ul>
</body>
</html>