{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <title></title>
</head>
<body>
    <a href="{% url 'pagina_inicial'  %}">Home</a>

    <p>
       Lista de Automoveis:
    </p>
   
    {% for produto in produtos %}
        <div>
            <p><img src="{{produto.imagem.url}}" height=130 width="auto"></p>
            <p>{{ produto.modelo}} </p>
            <p>R$ {{ produto.valor}}</p>

            <a href="{% url "detalhes_produto" produto.id %}">Detalhes</a>
        </div>
    {% endfor %}

</body>
</html>