{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <title></title>
</head>
<body>
    <a href="{% url 'pagina_inicial'  %}">Home</a>

    <h3>
       Lista de Automoveis:
    </h3>
    <div class="lista-carros">
        {% for produto in produtos %}

            <div class="card">
                <p><img src="{{produto.imagem.url}}" height=150 width=250></p>
                <p>{{ produto.modelo}} </p>
                <p>R$ {{ produto.valor}}</p>
                <a href="{% url "detalhes_produto" produto.id %}">Detalhes</a>
            </div>
        {% endfor %}
        

    </div>
</body>
</html>