{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <title>Document</title>
</head>
<body>
    <h4>
        CARROS ESPORTIVOS
    </h4>

    <a href="{% url 'pagina_cadastro' %}">CADASTROS CLIENTES</a>
    <a href="{% url 'cadastro-carro' %}">CADASTRO CARROS</a>
    <a href="{% url 'pagina_produtos' %}">AUTOMOVEIS</a>
    <a href="{% url 'pagina_pagamento' %}">PAGAMENTOS</a>
  
</body>
</html>