{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <title>Document</title>
</head>
<body>
    <h4>
        CARROS ESPORTIVOS
    </h4>
    
    <div class="div_botoes">
        <a href="{% url "pagina_cadastro" %}">
            <button>CADASTROS CLIENTES</button>
        </a>

        <a href="{% url "cadastro-carro" %}">
            <button>CADASTRO CARROS</button>
        </a>

        <a href="{% url "pagina_produtos" %}">
            <button>AUTOMOVEIS</button>
        </a>

        <a href="{% url "pagina_pagamento" %}">
            <button>PAGAMENTOS</button>
        </a>
    </div>
</body>
</html>