<html lang="en">
{% extends "base.html" %} 
{% load static %}

{% block  titulio %}
        <link rel="stylesheet" href="{% static "style-formularios.css" %}">
        <script src="{% static 'js/validacoes_servico.js'%}"> </script>
        <title>Formulário Serviço</title>
{% endblock  %}

{% block conteudo %}
        <a href="{% url "pg_inicial" %}">
            <button>Voltar</button>
        </a>

        <a href="{% url "pg_criar_categoria" %}">
            <button>+ Categoria</button>
        </a>

        <h2>Formulário Serviço</h2>

        <form method="post">
            {% csrf_token %}
            <p>
                <label for="tipo">Tipo servico:</label>
                <input type="text" name="tipo" maxlength="100"  id="tipo">
            </p>
                    
                    
            <p>
                <label for="valor">Valor servico:</label>
                <input type="number" name="valor" step="0.01" id="valor">
            </p>
                    
                    
            <p>
                <label for="id_empresa">Empresa:</label>
                <select name="empresa_id" required="" id="empresa_id">
                    <option value="" selected=""></option>
                    {% for empresa in empresas %}
                        <option value="{{ empresa.id }}">{{ empresa.razao_social }}</option>
                    {% endfor %}
                </select>
            </p>
                    
                    
            <p>
                <label for="id_categoria">Categoria:</label>
                <select name="categoria_id" required="" id="categoria_id">
                    <option value="" selected=""></option>
                    {% for categoria in categorias %}
                        <option value="{{ categoria.id }}">{{ categoria.tipo }}</option>
                    {% endfor %}
                </select>
            </p>
                <button type="submit" class="btn btn-outline-primary">Salvar</button>
                <a href="{% url "pg_inicial" %}">
                    <button type="button" class="btn btn-outline-danger">Cancelar</button>
                </a>
        </form>

        <h2>Lista de Serviços</h2>

        <table class=" table table-bordered">
            <thead>
              <tr class="alert alert-dark">
                <th scope="col" >ID</th>
                <th scope="col">TIPO</th>
                <th scope="col">VALOR</th>
                <th scope="col">EMPRESA</th>
                <th scope="col">RAZAO SOCIAL</th>
                <th scope="col">OPÇÕES</th>
                
              </tr>
            </thead>
            <tbody>
                {% for servico in servicos %}
                    <tr class="">
                        <th scope="row" >{{ servico.id }}</th>
                        <td>{{ servico.tipo }}</td>
                        <td>{{ servico.valor }}</td>
                        <td>{{ servico.empresa.razao_social }}</td>
                        <td>{{ servico.categoria.tipo }}</td>
                        <td>
                            <div class="btns_formulario">
                                <div>
                                    <img src="https://img.icons8.com/?size=100&id=21076&format=png&color=000000"alt="" width="35" height="35"></img>
                                </div>
                                <a href="{% url "pg_editar_servico" servico.id %}">
                                    <span class="btn btn-outline-primary">Editar servico</span>
                                </a>

                                <div>
                                    <img src="https://img.icons8.com/?size=100&id=fYgQxDaH069W&format=png&color=000000" alt="" width="35" height="35"></img>
                                </div>
                                <a href="{% url "pg_excluir_servico" servico.id %}" onclick="confirm('Deseja realmete excluir?')">
                                    <span class="btn btn-outline-danger">Excluir servico</span>
                                </a>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>  

        
            {% comment %} <div class="card-formulario">

                <span>{{ servico.tipo}}</span>
                <span>R$ {{ servico.valor}}</span>
                <span><b>Empresa:</b> {{ servico.empresa.razao_social }}</span>
                <span><b>Categoria:</b> {{ servico.categoria.tipo }}</span>

                <div class="btns_formulario">
                    <a href="{% url "pg_editar_servico" servico.id %}">
                        <span>Editar Serviço</span>
                    </a> 
                    <a href="{% url "pg_excluir_servico" servico.id %}"onclick="confirm('Deseja realmete excluir?')">
                        <span>Excluir Serviço</span>
                    </a>
                </div>
            </div> {% endcomment %}
{% endblock %}