<html lang="en">
{% extends "base.html" %} 
{% load static %}

{% block  titulio %}
        <link rel="stylesheet" href="{% static "style-formularios.css" %}">
        <script src="{% static 'js/validacoes_produto.js'%}"> </script>
        <title>Formulário Produto</title>
{% endblock  %}

{% block conteudo %}
        <a href="{% url "pg_inicial" %}">
            <button>Voltar</button>
        </a>
        <h2>Formulário Produto</h2>

        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form_produto.as_p }}
            <button type="submit">Salvar</button>
            <a href="{% url "pg_inicial" %}">
                <button type="button">Cancelar</button>
            </a>
        </form>

        <h2>Lista de produtos</h2>

        {% for produto in produtos %}
            <div class="card-formulario">
                
                <span>{{ produto.nome }}</span>
                <span>{{ produto.valor }}</span>
                <span>{{ produto.descricao }}</span>

                <div class="btns_formulario">
                    <a href="{% url "pg_editar_produto" produto.id %}">
                        <span>Editar Produto</span>
                    </a>  
                    <a href="{% url "pg_excluir_produto" produto.id %}"onclick="confirm('Deseja realmete excluir?')">
                        <span>Excluir Produto</span>
                    </a>
                </div>
            </div>
        {% endfor %}
{% endblock %}