<html lang="en">
{% extends "base.html" %} 
{% load static %}

{% block  titulio %}
    <script src="{% static 'js/validacoes_categoria.js'%}"></script>
    <title>Formulário Categoria</title>
{% endblock  %}

{% block conteudo %} 
    <a href="{% url "pg_criar_servico" %}">
        <button>Voltar</button>
    </a>
    <h3>Formulário Categoria</h3>

    <form method="post" id="form_categoria">
        {% csrf_token %}
        <p>
            <label for="id_tipo" >Tipo:</label>
            <input type="text" name="tipo" maxlength="100"  id="tipo" value="{{ categoria.tipo }}">  
        </p>
        <button type="submit" class="btn btn-outline-primary">Salvar</button>
        <a href="{% url "pg_criar_servico" %}">
            <button type="button" class="btn btn-outline-danger">Cancelar</button>
        </a>
    </form>

    <h2 >Lista de Categorias</h2>
        
    <table class="table table-bordered">
        <thead >
            <tr class="alert alert-dark">
                <th scope="col">ID</th>  
                <th scope="col">TIPO</th>
                <th scope="col">OPÇÕES</th>
            </tr>
        </thead>
        <tbody >
            {% for categoria in categorias %}
                <tr class="" >
                    <th scope="row" >{{ categoria.id }}</th>
                    <td>{{ categoria.tipo }}</td>
                    <td>
                        <div class="btns_formulario">
                            <div>
                                <img src="https://img.icons8.com/?size=100&id=21076&format=png&color=000000" alt="" width="35" height="35"> </img>
                            </div>
                            <a href="{% url "pg_editar_categoria" categoria.id %}">
                                <span class="btn btn-outline-primary">Editar Categoria</span>
                            </a>

                            <div>
                                <img src="https://img.icons8.com/?size=100&id=fYgQxDaH069W&format=png&color=000000" alt="" width="35" height="35"> </img>
                            </div>
                            <a href="{% url "pg_excluir_categoria" categoria.id %}" onclick="confirm('Deseja realmete excluir?')">
                                <span class="btn btn-outline-danger">Excluir Categoria</span>
                            </a>
                        </div>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>     
{% endblock %}