<html lang="en">
{% extends "base.html" %} 
{% load static %}

{% block  titulio %}
        <script src="{% static 'js/validacoes_ordemservico.js'%}"> </script>
        <title>Formulário Ordem de Serviço</title>
{% endblock  %}

{% block conteudo %}
        <a href="{% url "pg_inicial" %}">
            <button>Voltar</button>
        </a>
        <h2>Formulário Ordem de Serviço</h2>

        <form method="post">
            {% csrf_token %}
            {{ form_ordemservico.as_p }}
            <button type="submit" class="btn btn-primary">Salvar</button>
            <a href="{% url "pg_inicial" %}">
                <button type="button" class="btn btn-danger">Cancelar</button>
            </a>
        </form>
{% endblock %}