<html lang="en">
{% extends "base.html" %} 
{% load static %}

{% block  titulio %}
    <script src="{% static 'js/validacoes_cliente.js'%}"> </script>
    <title>Formulário Cliente</title>
{% endblock  %}

{% block conteudo %}
    <a href="{% url "pg_inicial" %}">
        <button>Voltar</button>
    </a>

    <h2>Formulário Cliente</h2>

    <form method="post" enctype="multipart/form-data" id="form_cliente">
        {% csrf_token %}
           
        
        <p>
            <label for="id_tipo">Nome:</label>
            <input type="text" name="tipo" maxlength="100"  id="nome" value="{{ categoria.nome }}">  
        </p>
        </p>
            <label for="id_tipo">Data de Nascimento:</label>
            <input type="text" name="tipo" maxlength="100"  id="data_nascimento" value="{{ categoria.data_nascimento }}">  
        </p>
        <button type="submit">Salvar</button>
        <a href="{% url "pg_inicial" %}">
                <button type="button">Cancelar</button>
        </a>
    </form>

    <h2>Lista de Clientes</h2>

    {% for cliente in clientes %}
        <div class="card-formulario">
            <img src="{{ cliente.foto.url }}" width="150" height="auto">
            <span>{{ cliente.nome }}</span>
            <span><b>Data nascimento:</b> {{ cliente.data_nascimento }}</span>
                <div class="btns_formulario">
                    <a href="{% url "pg_editar_cliente" cliente.id %}">
                        <span>Editar Cliente</span>
                    </a>
                    <a href="{% url "pg_excluir_cliente" cliente.id %}"onclick="confirm('Deseja realmete excluir?')">
                        <span>Excluir Cliente</span>
                    </a>
                </div>
        </div>
    {% endfor %}
{% endblock %}