<html lang="en">
{% extends "base.html" %} 
{% load static %}

{% block  titulio %}
    <script src="{% static 'js/validacoes_cliente.js'%}"> </script>
    <title>Formulário Cliente</title>
{% endblock  %}

{% block conteudo %}
    <a href="{% url "pg_inicial" %}">
        <button>Voltar</button>
    </a>

    <h2>Formulário Cliente</h2>

    <form method="post" enctype="multipart/form-data" id="form_cliente">
        {% csrf_token %}
           
        
        <p>
            <label for="id_tipo">Nome:</label>
            <input type="text" name="nome" maxlength="100"  id="nome" value="{{ categoria.nome }}">  
        </p>
        </p>
            <label for="id_tipo">Data de Nascimento:</label>
            <input type="text" name="data_nascimento" maxlength="100"  id="data_nascimento" value="{{ categoria.data_nascimento }}">  
        </p>
        <button type="submit" class="btn btn-primary">Salvar</button>
        <a href="{% url "pg_inicial" %}">
            <button type="button" class="btn btn-danger">Cancelar</button>
        </a>
    </form>

    <h2>Lista de Clientes</h2>

    <table class="table">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">FOTO</th>
            <th scope="col">NOME</th>
            <th scope="col">DATA DE NASCIMENTO</th>
            <th scope="col">OPÇÕES</th>
          </tr>
        </thead>
        <tbody>
            {% for cliente in clientes %}
                <tr>
                    <th scope="row">{{ cliente.id }}</th>
                    <td>{{ cliente.foto }}</td>
                    <td>{{ cliente.nome }}</td>
                    <td>{{ cliente.data_nascimento }}</td>
                    <td>
                        <div class="btns_formulario">
                            <a href="{% url "pg_editar_cliente" cliente.id %}">
                                <span>Editar cliente</span>
                            </a>
                            <a href="{% url "pg_excluir_cliente" cliente.id %}" onclick="confirm('Deseja realmete excluir?')">
                                <span>Excluir cliente</span>
                            </a>
                        </div>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table> 
{% endblock %}