<html lang="en">
{% extends "base.html" %} 
{% load static %}
<!DOCTYPE html>
{% block  titulio %}
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static "style.css" %}">
        <title>Elabore Ordens de Serviços</title>
    </head>
{% endblock  %}

{% block conteudo %}
    <body>
        <h2 class="text-info">ELABORE ORDENS DE SERVIÇOS</h2>

        {% comment %} <div class="div_botoes" >
            <a href="{% url "pg_criar_ordemservico" %}">
                <button >Ordem de Serviço</button>
            </a>

            <a href="{% url "pg_criar_cliente" %}">  
                <button>Cliente</button>
            </a>

            <a href="{% url "pg_criar_empresa" %}">  
                <button>Empresa</button>
            </a>

            <a href="{% url "pg_criar_servico" %}">  
                <button>Serviço</button>
            </a>

            <a href="{% url "pg_criar_produto" %}">   
                <button>Produto</button>
            </a>

            <a href="{% url "pg_criar_categoria" %}">   
                <button>Categoria</button>
            </a>
        </div> {% endcomment %}

        <ul class="nav nav-tabs justify-content-center">
            <li class="nav-item">
                <a class="nav-link active" href="{% url "pg_criar_ordemservico" %}">Ordem de Serviço</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Dropdown</a>
                <div class="dropdown-menu">
                  <a class="dropdown-item" href="#">Ação</a>
                  <a class="dropdown-item" href="#">Outra ação</a>
                  <a class="dropdown-item" href="#">Algo mais aqui</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="#">Link isolado</a>
                </div>
              </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url "pg_criar_cliente" %}">Cliente</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="{% url "pg_criar_empresa" %}">Empresa</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="{% url "pg_criar_servico" %}">Serviço</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="{% url "pg_criar_produto" %}">Produto</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="{% url "pg_criar_categoria" %}">Categoria</a>
            </li>
        </ul>
        
        {% for os in ordemservicos %}
            <div class="card">
                <div class="rotulo-card">
                    <span>{{ os.cliente.nome }}</span>
                    <span>{{ os.data_servico }}</span>
                </div>
                
                <ul>
                    {% for servico in os.servico.all %}
                        <li>{{ servico.tipo_servico }} - R$ {{ servico.valor_servico }} - {{ servico.empresa }}</li>
                    {% endfor %}
                </ul>
                
                <span class="valor-total">R$ {{ os.valor_total }}</span>
                <a class="valor-total" href="{% url "pg_excluir_ordemservico" os.id %}">
                    <span>Excluir OS</span>
                </a>
            </div>
        {% endfor %}
    </body>
</html>
{% endblock %}