<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="{% url 'pagina_inicial' %}">Home</a>
    <h3>Formulário de cadastro</h3>

    <form method="post">
        {% csrf_token %}
        {{ formulario.as_p }}
        <button type="submit">Salvar</button>
        <button type="reset" onclick="resetForm()">Cancelar</button>
    </form>

    <h3>
        Lista de cadastro:
    </h3>
    <ul>
    {% for x in cadastros %}
        <li>{{x.nome}} - {{x.Nascimento}}</li>
    {% endfor %}
    </ul>
</body>
</html>