{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <title>Document</title>
</head>
<body>
    <a href="{% url 'pagina_cadastro' %}">Home</a>
    <h3>Formulário de cadastro</h3>

    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ formulario.as_p }}
        <button type="submit">Salvar</button>
        <button type="reset" onclick="resetForm()">Cancelar</button>
    </form>

    <ul>
    {% for x in cadastros %}
        <li>{{x.nome}} - {{x.data_nascimento}}</li>
    {% endfor %}
    </ul>
</body>
</html>